input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=password]:focus {
    background-color: lightblue;
}



div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    margin-left: 380px;
    margin-right: 350px;
    max-width: 800px;
    max-height: 530px;
    margin-top: 170px;
}

h1
{   margin-top: 30px;
    margin-left: 400px;
    color: #4CAF50;
}
.error
{
    color: rgb(255,0,0);

}
.success
{
    color:  #4CAF50;
}